body {
    margin: 0;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}
::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-track {
    background: rgba(32, 150, 158, 0.619);
}

::-webkit-scrollbar-thumb {
    background: #13575c ;
}

/* LIGHT MODE */

header.light-mode {
    background-color: rgba(32, 150, 158, 0.5);
}

.intro.light-mode {
    background-color: rgba(99, 204, 214, 0.5);
}

body.light-mode {
    background-color: rgba(32, 150, 158, 0.3);
    color: #000000;
}

/* DARK MODE */

header.dark-mode {
    background-color: rgb(22, 100, 106);
}
.intro.dark-mode {
    background-color: rgba(29, 73, 78, 0.5);
}
body.dark-mode {
    background-color: rgba(39, 78, 99, 0.9);
    color: #ffffff;
}


/* NORMAL */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw;
    max-height: 3.5vw;
}

.header-title {
    gap: 1vw;
    display: flex;
    align-items: center;
}

header img {
    width: 3vw;
}

header h1 {
    margin: 0;
    color: #fff;
    font-size: 1.5vw;
}

main {
    margin: 1vw 5vw;
}

.intro {
    display: flex;
    padding: 1vw;
    max-height: 25vw;
    border-radius: 1.5vw;
}

.intro h1 {
    margin: 0;
    font-size: 2vw;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0.5em;
    line-height: 0.8em;
}

.intro p {
    font-size: 1.5vw;
    letter-spacing: normal;
    text-align: justify;
    padding-right: 1em;
    line-height: 1.5em;
}

.intro img {
    width: 100%;
    height: 100%;
    border-radius: 1vw;
}

.intro-detail {
    flex: 1;
}

.lema {
    font-size: 1.5vw;
}

.container-card.is-show {
    display: flex;
    gap: 5em;
}

.list-card {
    display: flex;
    gap: 1em;
}

.list-card p {
    display: none;
}

.is-show .list-card {
    flex-direction: column;
    flex: 1;
}

.is-show .list-card .card {
    max-height: 25vh;
}

.is-show .show-img {
    display: flex;
    flex: 3;
}

.show-img .card {
    max-height: 86vh;
}

.show-img .card img {
    height: 90%;
}

.show-img .card p {
    height: 10%;
    font-size: medium;
    letter-spacing: .2em;
    text-align: justify;
    line-height: 1.5em;
}

.show-img {
    display: none;
}

.card {
    flex: 1;
    padding: 1em;
    border-radius: 1vw;
    border: 0.1vw solid #000000;
    transition: 0.5s;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 1vw;
}

.card:hover {
    transform: scale(110%) rotate(5deg);
    transition: 0.5s;
    background-color: rgba(36, 128, 144, 0.5);
}

.card-select {
    background-color: rgba(36, 128, 144, 0.9);
}

.card-open {
    display: none;
}

.card-close {
    flex-direction: row;
}

.category-dogs h1 , .category-cats h1 {
    font-size: 2vw;
}

.category-hover {
    display: flex;
    margin-top: 4vw;
    flex-direction: row;
}

.category-hover img {
    flex: 1;
    width: 6vw;
    height: 30vw;
    object-fit: cover;
    transition: 1s;
}

.category-hover img:hover {
    flex: 8;
}

/* TEMPLATE DARK MODE BUTTON */

.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }